@model IEnumerable<BikeStore.Models.CartInfo>

@{
    ViewData["Title"] = "MyOrders";
}

<section>
    <img src="~/images/mix.png" class="img-fluid" />
</section>
<div class="container">
    <div class="text-center">
        <h1 class="display-4">My Orders</h1>
    </div>
    <hr />
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactNo)
                    </th>
                    <th>
                        Order Status
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContactNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CartStatus)
                    </td>
                    <td>
                        <a asp-action="OrderDetails" class="btn btn-info" asp-route-id="@item.CartID">Details</a>
                    </td>
                    <td>
                        <a asp-action="CancelOrder"  class="btn btn-danger" asp-route-id="@item.CartID">Cancel Order</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>