@model IEnumerable<BikeStore.Models.CartInfo>

@{
    ViewData["Title"] = "Index";
}

<section>
    <img src="~/images/admin.png" class="img-fluid" />
</section>
<div class="container">
    <div class="text-center">
        <h1 class="display-4">All Orders</h1>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactNo)
                </th>

                <th>
                    Order Status 
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CartStatus)
                </td>
                <td>
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.CartID">Details</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>